In [89]:
import pandas as pd
import os

os.chdir("/home/user/michigan/data/Ljosa-BBBC021/database")

In [90]:
com = pd.read_csv("supplement_Compound.txt", sep = '\t', names = ["compound","smiles"])

In [91]:
GroundTruth = pd.read_csv("supplement_GroundTruth.txt", sep = "\t", names = ["compound","concentration","moa"])

In [92]:
namelist = []
with open("supplement_Image.sql") as f:
    for i in f.readlines():
        if "NULL" in i:
            namelist.append(i.split("`")[1])
#             print(i.split("`")[1])
Image = pd.read_csv("supplement_Image.txt", sep = "\t", names = namelist)

In [94]:
meta = Image[["TableNumber","ImageNumber","Image_Metadata_Plate_DAPI","Image_Metadata_Well_DAPI","Image_Metadata_Compound"]]

In [95]:
meta

,TableNumber,ImageNumber,Image_Metadata_Plate_DAPI,Image_Metadata_Well_DAPI,Image_Metadata_Compound
0,1,11,Week1_22123,B04,cytochalasin B
1,1,12,Week1_22123,B04,cytochalasin B
2,1,9,Week1_22123,B04,cytochalasin B
3,1,10,Week1_22123,B04,cytochalasin B
4,1,251,Week1_22141,B04,cytochalasin B
...,...,...,...,...,...
2523,9,3560,Week9_39301,F11,DMSO
2524,9,3597,Week9_39301,G11,DMSO
2525,9,3598,Week9_39301,G11,DMSO
2526,9,3599,Week9_39301,G11,DMSO
2527,9,3600,Week9_39301,G11,DMSO

In [82]:
Image["Image_Metadata_Compound"]

0       cytochalasin B
1       cytochalasin B
2       cytochalasin B
3       cytochalasin B
4       cytochalasin B
             ...
2523              DMSO
2524              DMSO
2525              DMSO
2526              DMSO
2527              DMSO
Name: Image_Metadata_Compound, Length: 2528, dtype: object

In [73]:
meta#["TableNumber"]

,TableNumber,ImageNumber,Image_Metadata_Plate_DAPI,Image_Metadata_Well_DAPI
0,1,11,Week1_22123,B04
1,1,12,Week1_22123,B04
2,1,9,Week1_22123,B04
3,1,10,Week1_22123,B04
4,1,251,Week1_22141,B04
...,...,...,...,...
2523,9,3560,Week9_39301,F11
2524,9,3597,Week9_39301,G11
2525,9,3598,Week9_39301,G11
2526,9,3599,Week9_39301,G11
2527,9,3600,Week9_39301,G11

In [87]:
meta[["Image_Metadata_Plate_DAPI","Image_Metadata_Well_DAPI"]].drop_duplicates().groupby(["Image_Metadata_Plate_DAPI"]).count()["Image_Metadata_Well_DAPI"].mean()

11.49090909090909

In [62]:
meta["Image_Metadata_Plate_DAPI"].drop_duplicates().sort_values()

480     Week10_40111
484     Week10_40115
488     Week10_40119
0        Week1_22123
4        Week1_22141
8        Week1_22161
36       Week1_22361
40       Week1_22381
44       Week1_22401
24       Week2_24121
28       Week2_24141
32       Week2_24161
1064     Week2_24361
1068     Week2_24381
1072     Week2_24401
96       Week3_25421
100      Week3_25441
104      Week3_25461
276      Week3_25681
280      Week3_25701
284      Week3_25721
1112     Week4_27481
1116     Week4_27521
1120     Week4_27542
60       Week4_27801
64       Week4_27821
68       Week4_27861
640      Week5_28901
644      Week5_28921
648      Week5_28961
1928     Week5_29301
1952     Week5_29321
1976     Week5_29341
1052     Week6_31641
1056     Week6_31661
1060     Week6_31681
2072     Week6_32061
2096     Week6_32121
2120     Week6_32161
920      Week7_34341
924      Week7_34381
928      Week7_34641
712      Week7_34661
716      Week7_34681
384      Week8_38203
388      Week8_38221
392      Week8_38241
624      Week8_38341
628      Week8_38342
204      Week9_39206
208      Week9_39221
212      Week9_39222
240      Week9_39282
244      Week9_39283
248      Week9_39301
Name: Image_Metadata_Plate_DAPI, dtype: object

In [67]:
meta[meta["Image_Metadata_Plate_DAPI"]=="Week1_22123"]["Image_Metadata_Well_DAPI"].value_counts().sort_index()

B02    4
B03    4
B04    4
C02    4
D02    4
D03    4
D04    4
D05    4
E03    4
E04    4
E11    4
F11    4
G03    4
G04    4
G05    4
G06    4
G07    4
G08    4
G11    4
Name: Image_Metadata_Well_DAPI, dtype: int64

In [40]:
Image["Image_Count_Cells"].sum()

454793

In [38]:
Image["Image_Count_Cytoplasm"].mean()

179.90229430379748

In [39]:
2528*179.902

454792.256

In [25]:
namelist = []
with open("supplement_Object.sql") as f:
    for i in f.readlines():
        if "NULL" in i:
            namelist.append(i.split("`")[1])
Object = pd.read_csv("supplement_Object.txt", sep = "\t", names = namelist)

In [28]:
Object

,TableNumber,ImageNumber,ObjectNumber,Nuclei_Location_Center_X,Nuclei_Location_Center_Y,Nuclei_Children_Cells_Count,Nuclei_Children_Cytoplasm_Count,Nuclei_AreaShape_Area,Nuclei_AreaShape_Eccentricity,Nuclei_AreaShape_Solidity,...,Cytoplasm_Texture_SumAverage_CorrTub_3,Cytoplasm_Texture_SumVariance_CorrTub_3,Cytoplasm_Texture_SumEntropy_CorrTub_3,Cytoplasm_Texture_Entropy_CorrTub_3,Cytoplasm_Texture_DifferenceVariance_CorrTub_3,Cytoplasm_Texture_DifferenceEntropy_CorrTub_3,Cytoplasm_Texture_InfoMeas1_CorrTub_3,Cytoplasm_Texture_InfoMeas2_CorrTub_3,Cytoplasm_Texture_GaborX_CorrTub_3,Cytoplasm_Texture_GaborY_CorrTub_3
0,1,11,1,42.0305,148.890,1,1,1280,0.662565,0.965309,...,8.37106,10.64690,2.53427,3.29166,0.583120,1.084250,-0.273939,0.808284,1.573040,0.738566
1,1,11,2,45.2053,507.921,1,1,755,0.748082,0.967949,...,5.89931,10.09630,2.35030,2.77084,0.337000,0.840957,-0.422403,0.882526,0.293158,0.538997
2,1,11,3,49.2741,482.259,1,1,1091,0.652644,0.966342,...,6.28747,11.30620,2.37316,2.76813,0.326699,0.823222,-0.432611,0.886117,0.497869,0.799046
3,1,11,4,46.0314,189.541,1,1,891,0.407591,0.957035,...,6.28641,9.45681,2.35969,2.77262,0.370770,0.847960,-0.414490,0.875932,0.802768,0.410918
4,1,11,5,57.7914,281.011,1,1,1481,0.708679,0.971785,...,7.67162,10.60730,2.49943,3.02157,0.394935,0.906503,-0.379999,0.871283,0.217911,0.918915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454788,9,3600,76,1095.1300,972.007,1,1,887,0.647067,0.977949,...,8.73460,12.42190,2.60506,3.11715,0.338270,0.855916,-0.400194,0.892165,0.163199,0.526891
454789,9,3600,77,1102.3000,619.897,1,1,1334,0.364870,0.970888,...,6.61299,7.01490,2.32671,2.64360,0.265624,0.727336,-0.436240,0.880612,0.079480,0.026620
454790,9,3600,78,1110.6500,693.900,1,1,1444,0.265177,0.979647,...,6.78322,7.68548,2.31205,2.74826,0.348274,0.833295,-0.387655,0.860250,0.642028,0.259780
454791,9,3600,79,1134.4900,824.339,1,1,829,0.554786,0.986905,...,7.48839,9.09127,2.44708,2.87138,0.335006,0.831467,-0.414303,0.882267,0.331807,0.500837
454792,9,3600,80,1144.9900,429.371,1,1,1056,0.617253,0.981413,...,6.75595,11.47330,2.48035,3.03254,0.553901,1.034640,-0.370338,0.867296,1.144070,1.315440

In [33]:
Object["ImageNumber"].value_counts()

2962    2798
2922    2671
3202    2640
2882    2606
677     2587
        ...
2966       9
2775       8
3446       8
3447       4
3550       3
Name: ImageNumber, Length: 964, dtype: int64